<div class="">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">En attente</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Acceptées</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="refused-tab" data-toggle="tab" href="#refused" role="tab" aria-controls="refused" aria-selected="false">Refusées</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="classified-tab" data-toggle="tab" href="#classified" role="tab" aria-controls="classified" aria-selected="false">Classées</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
      <% @pending_actualities.each do |actuality| %>
        <%= link_to "/actualités/#{actuality.id}/edit" do %>
          <div class="card-product">
            <img src="<%= actuality.image %>" />
            <div class="card-product-infos">
              <h2><%= actuality.titre %></h2>
              <p><%= actuality.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
      <% @accepted_actualities.each do |actuality| %>
        <%= link_to "/actualités/#{actuality.id}/edit" do %>
          <div class="card-product">
            <img src="<%= actuality.image %>" />
            <div class="card-product-infos">
              <h2><%= actuality.titre %></h2>
              <p><%= actuality.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="refused" role="tabpanel" aria-labelledby="refused-tab">
      <% @refused_actualities.each do |actuality| %>
        <%= link_to "/actualités/#{actuality.id}/edit" do %>
          <div class="card-product">
            <img src="<%= actuality.image %>" />
            <div class="card-product-infos">
              <h2><%= actuality.titre %></h2>
              <p><%= actuality.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="classified" role="tabpanel" aria-labelledby="classified-tab">
      <% @classified_actualities.each do |actuality| %>
        <%= link_to "/actualités/#{actuality.id}/edit" do %>
          <div class="card-product">
            <img src="<%= actuality.image %>" />
            <div class="card-product-infos">
              <h2><%= actuality.titre %></h2>
              <p><%= actuality.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
