<div class="w-10/12 mx-auto">
    <h1>Admin#home</h1>
    <%= link_to "Activités (#{@nbr_activities})", "/admin/activités" %>
    <br>
    <%= link_to "Actualités (#{@nbr_actualities})", "/admin/actualités" %>
    <br>
    <%= link_to "Patrimoines (#{@nbr_patrimoines})", "/admin/patrimoines" %>
    <br>
    <%= link_to "Types d'activité", "/activity_types" %>
    <br>
    <%= link_to "Lieux d'activité", "/activity_places" %>
    <br>
    <%= link_to "Thèmes", "/themes" %>
    <br>
    <%= link_to "Contributeurs", "/contributors" %>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Inviter un(e) nouvel(le) administrateur(trice)
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inviter un(e) nouvel(le) administrateur(trice)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <%= simple_form_for @user, url: "/admin", method: :post do |f| %>
                <%= f.input :firstname, label: 'Prénom' %>
                <%= f.input :lastname, label: "Nom" %>
                <%= f.input :email, label: "Email" %>
                <%= f.submit 'Soumettre' %>
            <% end %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>

</div>