<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag("logo.jpeg") %>
  <% end %>

  <div class="flex flex-col w-100 text-white">
    <div class="text-center text-xl mb-2">
      <h1>Spa Patrimoine</h1>
    </div>

    <div class="flex justify-between mx-10">
      <%= link_to "Activités", "/activités" %>
      <%= link_to "Présentation", "/about"%>
      <%= link_to "Actualités", "/actualités" %>
      <%= link_to "Patrimoine Spadois", "/patrimoines" %>
      <%= link_to "Projets", "/" %>
      <%= link_to "Propriétaires", "/" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</div>
