<div class="flex bg-gray-600 p-2">
  <%= link_to "/" do %>
    <%= image_tag("logo.jpeg", class:"w-10") %>
  <% end %>

  <div class="flex flex-col w-100 text-white">
    <div class="text-center text-xl mb-2">
      <h1>Spa Patrimoine</h1>
    </div>

    <div class="d-none d-sm-flex justify-between mx-10">
      <%= link_to "Présentation", "/about"%>
      <%= link_to "Activités", "/activités" %>
      <%= link_to "Actualités", "/actualités" %>
      <%= link_to "Patrimoine Spadois", "/patrimoines" %>
    </div>
  </div>
</div>
