<div class="w-10/12 mx-auto">
    <h2>traiter une actualité</h2>
    <%= simple_form_for @actuality do |f| %>
        <%= f.input :titre, label: 'Titre' %>
        <%= f.input :description %>
        <%= f.input :image %>
        <%= f.input :activity_id, collection: @activities, label: "Activité" %>
        <%= f.input :status, collection: ["attente", "acceptée", "refusée", "classée"] %> 
        <%= f.submit 'Soumettre' %>
    <% end %>
    <br>
    <%= link_to "Effacer cette actualité",
        actuality_path(@actuality),
        method: :delete, 
        data: {confirm: "T'es sur?" }%>
</div>