<div class="w-10/12 mx-auto">
    <h2>Traiter une actualité</h2>
    <p>Actualité proposée par :</p>
    <ul>
      <li><%= @actuality.contributor.firstname %></li>
      <li><%= @actuality.contributor.lastname %></li>
      <li><%= @actuality.contributor.email %></li>
    </ul>

    <%= simple_form_for @actuality do |f| %>
        <%= f.input :titre, label: 'Titre' %>
        <%= f.input :description %>
        <%= f.input :image %>
        <%= f.association :activity, collection: @accepted_activities, label: "Activité" %>
        <%= f.association :patrimoine, collection: @accepted_patrimoines, label_method: :libelle, value_method: :id, label: "Patrimoine" %>
        <%= f.input :status, collection: ["attente", "acceptée", "refusée", "classée"] %> 
        <%= f.submit 'Soumettre' %>  
    <% end %>
    <br>
    <%= link_to "Effacer cette actualité",
        actuality_path(@actuality),
        method: :delete, 
        data: {confirm: "T'es sur?" }%>
</div>