<h2>traiter une activité</h2>
<%= simple_form_for @activity do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.input :image %>
    <%= f.input :activity_type_id, as: :select, collection: @activity_types, label_method: :title, value_method: :id, label: "titre" , include_blank: false %>
    <%= f.input :status, collection: ["en attente", "acceptée", "refusée"] %> 
    <%= f.submit 'Soumettre' %>
<% end %>