<div class="w-10/12 mx-auto">
    <h2>traiter une activité</h2>
    <%= simple_form_for @activity do |f| %>
        <%= f.input :title, label: 'Titre' %>
        <%= f.input :description %>
        <%= f.input :date %>
        <%= f.input :image %>
        <%= f.input :activity_type_id, collection: @activity_types, label: "Type d'activité" %>
        <%= f.input :activity_place_id, collection: @activity_places, label_method: :Name, value_method: :id, label: "Lieu" %>
        <%= f.input :status, collection: ["attente", "acceptée", "refusée"] %> 
        <%= f.input :contributor_id, label_method:  :firstname, value_method: :id, label: "Prénom" %>
        <%= f.input :contributor_id, label_method:  :lastname, value_method: :id, label: "Nom" %>
        <%= f.input :contributor_id, label_method:  :email, value_method: :id, label: "Email" %>
        <%= f.submit 'Soumettre' %>

    <% end %>
    <br>
    <%= link_to "Effacer cette activité",
        activity_path(@activity),
        method: :delete, 
        data: {confirm: "T'es sur?" }%>

</div>