<div class="w-10/12 mx-auto">
    <h2>traiter une activité</h2>
    <%= simple_form_for @activity do |f| %>
        <%= f.input :title, label: 'Titre' %>
        <%= f.input :description %>
        <%= f.input :date %>
        <%= f.input :image %>
        <%= f.input :activity_type_id, collection: @activity_types, label: "Type d'activité" %>
        <%= f.input :activity_place_id, collection: @activity_places, label_method: :Name, value_method: :id, label: "Lieu" %>
        <%= f.input :status, collection: ["en attente", "acceptée", "refusée"] %> 
        <%= f.submit 'Soumettre' %>
    <% end %>
</div>