<div class="w-10/12 mx-auto p-3 m-16">
    <div class="row">
        <div class="mx-auto col-12 col-lg-8 "  >
            <div class="text-center">
                <h1>Nos activités</h1>
            </div>
            <br>
            <div >
                <% @activities.each do |activity| %>
                    <%= link_to "/activités/#{activity.id}" do %>
                        <div class="card-product">
                            <img src="<%= activity.image %>" />
                            <div class="card-product-infos">
                                <h1><%= activity.activity_type.title %></h1>
                                <h2><%= activity.title %></h2>
                                <p><%= activity.date %></p>
                                <p><%= activity.activity_place.Name %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="appel">
                <h1> Le patrimoine spadois à besoin de VOUS!</h1>  
                <br>
                <p> Participez aux activités de l'asbl Spa Patrimoine en proposant vous-même une activité : une visite guidée, une promenade thémathique, une conférence,...tout est possible </p>
                <br>
                <p> Cliquez ci-dessous et soumettez-nous votre proposition.  Nous revenons vers vous dans les meilleurs délais </p>
                <br>
                <div class="btn btn-primary">
                    <%= link_to "Proposez une nouvelle activité", "/activités/new" %>
                </div>
            </div>
        </div>
    </div>
</div>