<div class="w-10/12 mx-auto p-3 m-16">
    <div>
        <img src="<%= @activity.image %>" />
    </div>

    <div>
        <h2><%= @activity.title %></h2>
    </div>

    <div>
        <p><%= @activity.description %></p>
    </div>

    <div>
        <p><%= @activity.activity_type.title %></p>
    </div>

    <div>
        <h2><%= @activity.date %></h2>
    </div>

    <div>
        <p><%= @activity.activity_place.Name %></p>
        <p><%= @activity.activity_place.Address %></p>
    </div>
</div>